{% extends 'layout.html' %}
{% block content %}
<div class="jumbotron">
  <h3>What did you get done today? <!--small>Saturday, September 3</small--></h3>
  {% if profile.entry_today and not edit %}
  <p style="text-align: left;">{{profile.entry_today.body|nl2br}}</p>
  <a href="?edit">Edit</a>
  {% else %}
  <form method="post" class="form-stacked">
    <div class="input" style="margin-bottom: 10px;">
      <textarea class="form-control" id="textarea" name="body" rows="10">{{profile.entry_today.body}}</textarea>  
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  {% endif %}
</div>

<div class="row">
  <div class="col-md-12">
    <div class="page-header"><h1>Yesterday's Digest<!--small>Yesterday, Friday, September 2</small--></h1></div>  
    {% for person in profile.following %}
    {% if person.entry_yesterday %}
    <h4><a href="/{{person.username}}">{{person.username}}</a></h4> 
    <p>{{person.entry_yesterday.summary}}</p>
    {% if person.entry_yesterday.details %}<a href="#" style="float:right;">&darr; More&hellip;</a>{% endif %}
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}