<html>
  <head>
    <title>WorkJournal</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/narrow.css">
    <script type="text/javascript">
      function toggleFullEntry(entryId) {
        $('#summary-'+entryId).toggle(); 
        $('#full-'+entryId).toggle();
      }
    </script>
  </head>
  <body role="document">
    <div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li {% if True %}class="active"{% endif %}>
            <a href="/">Home</a></li>
          <li {% if False %}class="active"{% endif %}>
            <a href="/{{profile.username}}">Journal</a></li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="http://www.gravatar.com/avatar/{{profile.gravatar_hash}}?s=20" style="vertical-align: top; margin-right: 6px;" />
                {{profile.username}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
        </ul>
        <h3 class="text-muted">WorkJournal</h3>
      </div>
    
      {% block content %}{% endblock %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</htmL>